.hero-section {
  
  background-image: url('image/IMG_1.jpeg'); 
  
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  
  height: 80vh; 
  
  /* Centrer le texte verticalement et horizontalement*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  /* Assombrir un peu l'image */
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4); 
}


.hero-title {
  color: #ffffff;
  font-size: 3rem; 
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-subtitle {
  color: #f3f4f6;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

/*.hero-button {
  display: inline-block;
  background-color: #d4af37; /* Une belle couleur dorée pour l'académie 
  color: #ffffff;
  padding: 12px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}*/

/*.hero-button:hover {
  background-color: #aa8c2c; /* Devient un peu plus foncé au survol 
}*/


.info-section {
    padding: 40px;
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 20px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.info-box1, .info-box2, .info-box3, .info-box4 {
    border: 2px solid #3882F6;
    border-radius: 10px;
    padding: 20px;
    height: 100px;
    width: 150px;
    font-size: 14px;
    color: #1F2937;
}

.info-box1 {
    background-image: url(image/IMG_3.jpeg);
    background-size: cover;
    background-position: center;

    color: white;

    /* Assombrir un peu l'image */
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4); 
}

.info-box2 {
    background-image: url(image/IMG_4.jpeg);
    background-size: cover;
    background-position: center;
    color: white;

    /* Assombrir un peu l'image */
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4); 
}

.info-box3 {
    background-image: url(image/IMG_5.jpeg);
    background-size: cover;
    background-position: center;
    color: white;

    /* Assombrir un peu l'image */
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4); 
}

.info-box4{
    background-image: url(image/IMG_2.jpeg);
    background-size: cover;
    background-position: center;
    color: white;

    /* Assombrir un peu l'image */
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4); 
}

.cta-section .button {
    border: 2px solid #F9FAF8;
}

.insc-section {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 40px;
    text-align: center;
}

.footer-page {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px;
}
.footer-left p {
    margin: 0;
    color: #8d99ae;
    font-size: 0.9rem;
}

.footer-right {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.footer-contenair {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap; 
    gap: 15px;
    
}




